@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/StyleAbout.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    <title>About</title>
</head>
<body>
    <div class="AboutUs">
        <p>
            This is a website about super heros and villians from the DCU and the MCU! Here you can write reviews on your favorite heros or villians!
            Hope you have fun!
        </p>

    </div>



    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Home/About">About</a>
        <a href="/Hero/HeroIndex">All Heroes</a>
    </nav>
</body>
</html>
