
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link hreflang="@Url.Content("~/css/style.css")"rel="stylesheet" href="style.css"/>
    <title>SuperHero Reviews</title>

</head>
<body>
    <header>
        <h1>Super Hero Reviews</h1>

    </header>

    <main>
        <section id="About Site">
            <h2>About this site</h2>
            <p> This Website was created by SuperHero fans for SuperHero fans. </p>
        </section>
       
    </main>
    <nav>
        <a href="mcu.cshtml">MCU</a>
        <a href="DCU.cshtml">DCU</a>
        <a href="about.cshtml">About</a>
        <a href="index.cshtml">Home</a>
    </nav>
    <footer>
        &copy; Supereviews 2019
    </footer>
</body>
</html>
