
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>SuperHero Reviews</title>

</head>
<body>
    <header>
        <h1>Super Hero Reviews</h1>

    </header>

    <main>
        <section id="About Site">
            <h2>About this site</h2>
            <p> This Website was created by SuperHero fans for SuperHero fans. </p>
        </section>
        @*<section id="skills">
            <h2>Skills</h2>
            <di class="codingLang">
                <article>
                    <img id="csharp" src="pics/csharp.png" alt="c Sharp">
                </article>
                <article>
                    <img id="javascript" src="pics/javascript.png" alt="javascript">
                </article>
                <article>
                    <img id="css" src="pics/CSS3_logo_and_wordmark.svg.png" alt="c s s">
                </article>
                <article>
                    <img id="html" src="pics/html.png" alt="h t m l">
                </article>
                </div>
        </section>*@
        @*<section id="projects">
            <h2>Projects</h2>
            <div>
                <ul>
                    <li>
                        <p>Portfolio</p>
                        <a href="https://github.com/JeremyMinnick2019/JeremyMinnick2019.github.io" target="_blank"><img src="pics/website.JPG" alt="Website photo"></a>
                        <p></p>
                    </li>
                    <li>
                        <p>Virtual Pets</p>
                        <a href="https://github.com/JeremyMinnick2019/VitualPetsAmokDotNet" target="_blank"><img src="pics/pets.png" alt="Pets photo"></a>
                    </li>
                    <li>
                        <p>Guessing Gaming</p>
                        <a href="https://github.com/JeremyMinnick2019/guessingGaming" target="_blank"><img src="pics/question-mark-stack.jpg" alt="Question photo"></a>
                    </li>
                </ul>
            </div>
        </section>
        <section id="network">
            <h2>Network</h2>
            <div class="Networkicons">
                <a href="https://github.com/JeremyMinnick2019" target="_blank"><img src="pics/github png.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/jeremy-minnick-bb45a9193/" target="_blank"><img src="pics/linkedin.png" alt="linked in"></a>
            </div>
        </section>
        <section id="contact">
            <h2>Contact Me</h2>
            <p>I would be happy to answer any questions you may have!</p>
            <ul>
                <li>Phone: (330) 367-9028</li>
                <li>Email: JeremyMinnick2019@gmail.com</li>
            </ul>
        </section>*@
        @*</section>*@
    </main>
    <nav>
        <a href="mcu.cshtml">MCU</a>
        <a href="DCU.cshtml">DCU</a>
        <a href="about.cshtml">About</a>
        <a href="index.cshtml">Home</a>
    </nav>
    <footer>
        &copy; Supereviews 2019
    </footer>
</body>
</html>
