
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    <title>SuperHero Reviews</title>

</head>
<body>
        <header>

        </header>

    <div class="container">
        <main>
            <article id="About Site">
            <h1>Super Hero Reviews</h1>
                <p> This Website was created by SuperHero fans for SuperHero fans. </p>
            </article>

        </main>
    </div>
    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Home/About">About</a>
        <a href="/Home/MCU">MCU</a>
        <a href="/Home/DCU">DCU</a>
        <a href="/Hero/HeroIndex">All Heroes</a>
    </nav>

    <footer>
        &copy; Supereviews 2019
    </footer>
</body>
</html>
