@model IEnumerable<SuperHeroReviews.Models.HeroModel.HeroModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heroes</title>
</head>
<body>
    

</body>
</html>