
body {
    background: radial-gradient(ellipse at top, #e66465, transparent), radial-gradient(ellipse at bottom, #4d9f0c, transparent);
}
#hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    border: 3em;
}

    #hero article {
        background: #808080;
        padding: 1em;
        color: #00ff21;
    }

        #hero article img {
            width: 100%;
            border: 1px solid #333;
            height: 15em;
        }

    #hero img:hover {
        transform: scale(1.6);
    }
