@model IEnumerable<SuperHeroReviews.Models.HeroModel.HeroModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heroes</title>
</head>
<body>
    <div>
        @{ foreach (SuperHeroReviews.Models.HeroModel.HeroModel hero in Model)
            {
                <div>@hero.Name</div>
                }
            }
    </div>
</body>
</html>
